@charset "utf-8";
/* CSS Document */

body{
	margin:0;
	padding:0;
}



@font-face {
    font-family: 'bitterbold';
    src: url('./fonts/bitter-bold-webfont.eot');
    src: url('./fonts/bitter-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bitter-bold-webfont.woff') format('woff'),
         url('./fonts/bitter-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'open_sansregular';
    src: url('./fonts/opensans-regular-webfont.eot');
    src: url('./fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/opensans-regular-webfont.woff') format('woff'),
         url('./fonts/opensans-regular-webfont.ttf') format('truetype'),
         url('./fonts/opensans-regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'bitterregular';
    src: url('./fonts/bitter-regular-webfont.eot');
    src: url('./fonts/bitter-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('./fonts/bitter-regular-webfont.woff') format('woff'),
         url('./fonts/bitter-regular-webfont.ttf') format('truetype'),
         url('./fonts/bitter-regular-webfont.svg#bitterregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

img{
	border:0;
}

.abo_top{
	width:100%;
	float:left;
	background:#fff;
	padding:17px 0px;
}
.abo_topmid{
	width:960px;
	margin:0 auto;
}
.abo_topmid_left{
	float:left;
	width:280px;
	padding-top:2px;
}
.abo_topmid_right{
	float: right;
	/*width:455px;*/
}
.abo_topmenu{
	float:left;
}
.abo_topmenu ul{
	padding:0px;
	margin:0px;
	list-style-type:none;
}
.abo_topmenu ul li{
	float:left;
    font-family: 'open_sansregular';
	color:#666666;
	font-size:14px;	
}
.abo_topmenu ul li a{
	color:#666666;
	float:left;
	padding:5px 20px 5px 0px;
	text-decoration:none;
}
.abo_topmenu ul li a:hover{
	color:#000000;
	float:left;
	padding:5px 20px 5px 0px;
	text-decoration:none;
}
a.login-btn { background: url(images/sprite-icons.png) no-repeat -376px -288px; text-decoration: none; width: 74px; height: 31px; color: #fff; font-size: 13px; font-family:  'open_sansregular', arial, serif; font-weight: 400; text-align: center; line-height: 26px; float: right; position: relative; margin-right: -2px; }
a.login-btn:hover { text-decoration: none; color: #b8e4fd; }

.abo_logbtn{
	background:url(../images/login_btn.png) no-repeat;
	width:74px;
	height:30px;
	float:right;
	border:none;
    font-family: 'open_sansregular';
	color:#ffffff;
	font-size:13px;
	text-align:center;
	cursor:pointer;
}

.abo_headbg{
	background:url(../images/head_bg.jpg) repeat-x;
	width:100%;
	float:left;
	height:89px;
}
.abo_headmid{
	width:960px;
	margin:0 auto;
}

.abo_meet{
	float:left;
	padding:20px 0px;
}
.abo_meettext{
    font-family: 'bitterbold';
	color:#ffffff;
	font-size:30px;
	text-shadow: 1px 2px 3px #383838;

}
.abo_midmain{
	width:100%;
	float:left;
}
.abo_mid{
	width:960px;
	margin:0 auto;
}
.abo_probox{
	padding-top:50px;
	width:960px;
	float:left;
}
.abo_proboxleft{
	width:180px;
	float:left;
}

.abo_proboxright{
	width:780px;
	float:left;
}
.abo_protext{
    font-family: 'bitterregular';
	color:#333333;
	font-size:26px;
	font-weight:bold;
}
.abo_prorightin1{
	width:780px;
	float:left;
}
.abo_protext1{
    font-family: 'open_sansregular';
	color:#999999;
	font-size:16px;
}
.abo_prorightin2{
	width:780px;
	float:left;
	padding-top:25px;
}

.abo_protext2{
    font-family: 'open_sansregular';
	color:#333333;
	font-size:14px;
}

.abo_mapbox{
	width:660px;
	float:left;
	height:340px;
	margin-right:25px;
}
.abo_addtext{
    font-family: 'bitterbold';
	color:#333333;
	font-size:20px;
}
.abo_mapright{
	width:260px;
	float:left;
}
.abo_maprightin{
	width:260px;
	float:left;
	padding-top:8px;
}
.abo_maprightin1{
	width:260px;
	float:left;
	padding-top:30px;
}
.abo_addtext1{
    font-family: 'open_sansregular';
	color:#333333;
	font-size:16px;
	line-height:26px;
}
.abo_addtext2{
    font-family: 'open_sansregular';
	color:#3366cc;
	font-size:16px;
	line-height:26px;
}
.abo_addtext2 a{
    font-family: 'open_sansregular';
	color:#3366cc;
}

.abo_foot{
	width:100%;
	float:left;
	border-top:1px solid #d9d9d9;
	background:#f2f2f2;
	padding:30px 0px;
	margin-top:50px;
}
.abo_footmid{
	width:960px;
	margin:0 auto;
}
.abo_footleft{
	width:400px;
	float:left;
}

.abo_foottext{
	font-family:Arial, Helvetica, sans-serif;
	color:#666666;
	font-size:13px;
}
.rounded-corners {
display: inline-block;
position: relative;
overflow: hidden;
-moz-border-radius: 75px;
border-radius: 75px;
-webkit-border-radius: 75px;
}

#navigation { font-family: arial, sans-serif; float:right; padding:10px 0 0 0;  }
#navigation ul{ list-style:none;}
#navigation li { font-size:12px;color:#5E5E5E; padding-left:10px; float:left;  }
#navigation li a { font-size:16px; line-height:27px; color:#878787; padding:0 17px;text-decoration:none; }
#navigation li a:hover{ font-size:16px; line-height:27px; color:#878787; padding:0 17px;text-decoration: underline; }

#navigation li a.btn,
#navigation li a.btn span { display:block; background:url(images/nav-btn.png) no-repeat 0 0; padding:0 0 0 17px; font-size:15px; }
#navigation li a.btn span { background-position:right 0; padding:0 17px 0 0; }
#navigation li a.btn:hover {background-position:0 bottom; text-decoration:none;  }
#navigation li a.btn:hover span { background-position:right bottom; text-decoration:none;  }