RewriteEngine On

Rewritecond %{http_host} !^www\.ctosonthemove\.com [NC]
Rewritecond %{http_host} !^itleaders\.ctosonthemove\.com [NC]
Rewritecond %{http_host} !^itexecs\.ctosonthemove\.com [NC]
Rewritecond %{http_host} !^techleaders\.ctosonthemove\.com [NC]
Rewritecond %{http_host} !^techexecs\.ctosonthemove\.com [NC]
Rewritecond %{http_host} !^blog\.ctosonthemove\.com [NC]
Rewriterule ^(.*)$ http://www.ctosonthemove.com/$1 [L,R=301]
RewriteRule index.html$ http://www.ctosonthemove.com/$1 [L,R=301]
RewriteRule why-cto.html$ why-cto.php [QSA,L]
RewriteRule team.html$ team.php [QSA,L]
RewriteRule partners.html$ partners.php [QSA,L]
RewriteRule press-news.html$ press-news.php [QSA,L]
RewriteRule terms-use.html$ terms-use.php [QSA,L]
RewriteRule privacy-policy.html$ privacy-policy.php [QSA,L]
RewriteRule copyright-policy.html$ copyright-policy.php [QSA,L]
RewriteRule contact-us.html$ contact-us.php [QSA,L]
RewriteRule pricing.html$ pricing.php [QSA,L]
RewriteRule site-map.html$ site-map.php [QSA,L]
RewriteRule faq.html$ faq.php [QSA,L]
RewriteRule ITExecutivesDirectory.html$ ITExecutivesDirectory.php [QSA,L]
RewriteRule ^(.*)-at-(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-from-(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-Appoint(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-appoint(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-Promot(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-promot(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-Retire(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-retire(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-Resign(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-resign(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-Terminat(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-terminat(.*)$ vigilant-appoints.php [QSA,L]
RewriteRule ^(.*)-Job-Opening(.*)$ vigilant-appoints.php [QSA,L]
