.one_doller_price { font-size:30px; color:#147fd2;  font-weight:normal; line-height:25px;}
.one_doller_price span { font-size:12px; font-weight:normal;color:#000; }
.one_doller_price strong { color:#303030; font-size:20px; padding-right:20px;}
.one_doller_price_blue {background-color:#e1f0fa; font-size:30px; color:#147fd2;  font-weight:normal; line-height:25px;}
.one_doller_price_blue span { font-size:12px; font-weight:normal;color:#000;}
.one_doller_price_blue strong { color:#303030; font-size:20px; padding-right:20px;}