/* CSS Document */
body{
background-color:#f3faff;
padding:0px;
margin:0px;
}
.landing-page-heading-bg{
background:url(../images/blue-bar-top-bg.jpg) left top no-repeat;
background-color:#2c86b7;
font-family:Verdana;
font-size:12px;
color:#d20000;
text-align:left;
font-weight:bold;
text-decoration:none;
list-style-type:none;
padding:0px;
margin:0px;
height:60px;
} 
.landing-page-title-text{
background:url(../images/title-text-bottom-border.jpg) left bottom repeat-x;
font-family:Arial;
font-size:18px;
color:#ffffff;
text-align:left;
font-weight:normal;
text-decoration:none;
list-style-type:none;
padding-left:20px;
padding-bottom:5px;
margin:0px;
}
.edit-link-text{
font-family:Verdana;
font-size:13px;
color:#d20000;
text-align:left;
text-decoration:none;
font-weight:normal;
line-height:14px;
padding-left:0px;
margin:0px;
}
.edit-link-text a{
color:#d20000;
text-decoration:none;

}
.edit-link-text a:hober{
color:#3b5998;
text-decoration:underline;
}
.left-box-text{
font-family:Verdana;
font-size:18px;
color:#006fa0;
text-align:left;
font-weight:bold;
text-decoration:none;
padding:0px;
margin:0px;
}
.content-text{
font-family:Verdana;
font-size:12px;
color:#3b5998;
text-align:left;
text-decoration:none;
line-height:14px;
padding:0px;
margin:0px;
}
.content-text a{
color:#3b5998;
text-decoration:none;
}
.content-text a:hover{
color:#e30000;
text-decoration:underline;
}
.contact-form-box-text h4{
font-family:Verdana;
font-size:16px;
color:#006fa0;
text-align:left;
text-decoration:none;
font-weight:bold;
line-height:14px;
padding-left:0px;
margin:0px;
}
.contact-form-box-text{
font-family:Verdana;
font-size:13px;
color:#006fa0;
text-align:left;
text-decoration:none;
font-weight:normal;
line-height:14px;
padding-left:0px;
margin:0px;
}
.contact-form-box-text a{
color:#006fa0;
text-decoration:none;

}
.contact-form-box-text a:hober{
color:#3b5998;
text-decoration:underline;
}
.copyright-text{
font-family:Verdana;
font-size:11px;
color:#c2c8cc;
text-align:center;
text-decoration:none;
list-style-type:none;
padding:0px;
margin:0px;
}